[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/miner-launchpad-foundry"]
	path = lib/miner-launchpad-foundry
	url = https://github.com/Heesho/miner-launchpad-foundry
